<span style="color: #008000;">-- 1</span>

<span style="color: #008000;">-- Explain the difference between the UNION ALL and UNION operators</span>

<span style="color: #008000;">-- In what cases are they equivalent?</span>

<span style="color: #008000;">-- When they are equivalent, which one should you use?</span>

<span style="color: #008000;"><br></span>

<span style="font-size: 12px; white-space: pre;">The only difference between Union and Union All is that</span>

<span style="font-size: 12px; white-space: pre;">Union extracts the rows that are being specified in the query while</span>

<span style="font-size: 12px; white-space: pre;">Union All extracts all the rows including the duplicates (repeated values) from both the queries</span>

In [7]:
-- 2
-- Write a query that generates a virtual auxiliary table of 10 numbers
-- in the range 1 through 10
-- Tables involved: no table

-- Auxiliary table of digits
--SELECT ones.n + 10*tens.n + 100*hundreds.n + 1000*thousands.n AS number
--FROM (VALUES(0),(1),(2),(3),(4),(5),(6),(7),(8),(9)) ones(n),
--    (VALUES(0),(1),(2),(3),(4),(5),(6),(7),(8),(9)) tens(n),
--     (VALUES(0),(1),(2),(3),(4),(5),(6),(7),(8),(9)) hundreds(n),
--     (VALUES(0),(1),(2),(3),(4),(5),(6),(7),(8),(9)) thousands(n) 
--ORDER BY 1

--METHOD 2
--DROP TABLE IF EXISTS dbo.Digits;

--CREATE TABLE dbo.Digits(digit INT NOT NULL PRIMARY KEY);

--INSERT INTO dbo.Digits(digit)
 -- VALUES (0),(1),(2),(3),(4),(5),(6),(7),(8),(9);

--SELECT digit FROM dbo.Digits;


SELECT ones.n AS n
From (VALUES(0),(1),(2),(3),(4),(5),(6),(7),(8),(9))ones(n)

n
0
1
2
3
4
5
6
7
8
9

In [11]:
-- 3
-- Write a query that returns customer and employee pairs 
-- that had order activity in January 2016 but not in February 2016
-- Tables involved: TSQLV4 database, Orders table

USE TSQLV4;
GO
SELECT custid,empid 
FROM SALES.Orders
WHERE orderdate >= '2016-01-01' AND orderdate <'2016-02-01'

EXCEPT -- in table 1 but not in table 2

SELECT custid,empid 
FROM SALES.Orders
WHERE orderdate >= '2016-02-01' AND orderdate <'2016-03-01'

USE Northwinds2022TSQLV7;
GO 
SELECT CustomerId,EmployeeId 
FROM SALES.[Order]
WHERE orderdate >= '2016-01-01' AND orderdate <'2016-02-01'

EXCEPT -- in table 1 but not in table 2

SELECT CustomerId,EmployeeId 
FROM SALES.[Order]
WHERE orderdate >= '2016-02-01' AND orderdate <'2016-03-01'

custid,empid
1,1
3,3
5,8
5,9
6,9
7,6
9,1
12,2
16,7
17,1
20,7
24,8
25,1
26,3
32,4
38,9
39,3
40,2
41,2
42,2
44,8
47,3
47,4
47,8
49,7
55,2
55,3
56,6
59,8
63,8
64,9
65,3
65,8
66,5
67,5
70,3
71,2
75,1
76,2
76,5
80,1
81,1
81,3
81,4
82,6
84,1
84,3
84,4
88,7
89,4

CustomerId,EmployeeId
1,1
3,3
5,8
5,9
6,9
7,6
9,1
12,2
16,7
17,1
20,7
24,8
25,1
26,3
32,4
38,9
39,3
40,2
41,2
42,2
44,8
47,3
47,4
47,8
49,7
55,2
55,3
56,6
59,8
63,8
64,9
65,3
65,8
66,5
67,5
70,3
71,2
75,1
76,2
76,5
80,1
81,1
81,3
81,4
82,6
84,1
84,3
84,4
88,7
89,4

In [12]:
-- 4
-- Write a query that returns customer and employee pairs 
-- that had order activity in both January 2016 and February 2016
-- Tables involved: TSQLV4 database, Orders table
USE TSQLV4;
GO
SELECT custid,empid 
FROM SALES.Orders
WHERE orderdate >= '2016-01-01' AND orderdate <'2016-02-01'

INTERSECT -- return both in table 1  and table 2

SELECT custid,empid 
FROM SALES.Orders
WHERE orderdate >= '2016-02-01' AND orderdate <'2016-03-01'

USE Northwinds2022TSQLV7;
GO 
SELECT CustomerId,EmployeeId 
FROM SALES.[Order]
WHERE orderdate >= '2016-01-01' AND orderdate <'2016-02-01'

INTERSECT -- return both in table 1  and table 2

SELECT CustomerId,EmployeeId 
FROM SALES.[Order]
WHERE orderdate >= '2016-02-01' AND orderdate <'2016-03-01'

custid,empid
20,3
39,9
46,5
67,1
71,4

CustomerId,EmployeeId
20,3
39,9
46,5
67,1
71,4

In [13]:
-- 5
-- Write a query that returns customer and employee pairs 
-- that had order activity in both January 2016 and February 2016
-- but not in 2015
-- Tables involved: TSQLV4 database, Orders table

USE TSQLV4;
GO
SELECT custid,empid 
FROM SALES.Orders
WHERE orderdate >= '2016-01-01' AND orderdate <'2016-02-01'

INTERSECT -- return both in table 1  and table 2

SELECT custid,empid 
FROM SALES.Orders
WHERE orderdate >= '2016-02-01' AND orderdate <'2016-03-01'

EXCEPT
SELECT custid,empid 
FROM SALES.Orders
WHERE orderdate >= '2015-01-01' AND orderdate <'2016-01-01'


USE Northwinds2022TSQLV7;
GO 
SELECT CustomerId,EmployeeId 
FROM SALES.[Order]
WHERE orderdate >= '2016-01-01' AND orderdate <'2016-02-01'

INTERSECT -- return both in table 1  and table 2

SELECT CustomerId,EmployeeId 
FROM SALES.[Order]
WHERE orderdate >= '2016-02-01' AND orderdate <'2016-03-01'
EXCEPT
SELECT CustomerId,EmployeeId 
FROM SALES.[Order]
WHERE orderdate >= '2015-01-01' AND orderdate <'2016-01-01'

custid,empid
46,5
67,1

CustomerId,EmployeeId
67,1
46,5

In [14]:
USE TSQLV4;

SELECT country, region, city 
FROM (
SELECT 1 AS COL, country, region, city
      FROM HR.Employees
UNION ALL
SELECT 2 COL, country, region, city
      FROM Production.Suppliers
) AS RESULT
ORDER BY
COL, country, region, city

USE Northwinds2022TSQLV7;
GO 
SELECT RESULT.Employeecountry, RESULT.Employeeregion, RESULT.Employeecity 
FROM (
SELECT 1 AS COL, Employeecountry, Employeeregion, Employeecity
      FROM HumanResources.Employee
UNION ALL
SELECT 2 COL, Suppliercountry, Supplierregion, Suppliercity
      FROM Production.Supplier
) AS RESULT
ORDER BY
COL, RESULT.Employeecountry, RESULT.Employeeregion, RESULT.Employeecity

country,region,city
UK,NULL,London
UK,NULL,London
UK,NULL,London
UK,NULL,London
USA,WA,Kirkland
USA,WA,Redmond
USA,WA,Seattle
USA,WA,Seattle
USA,WA,Tacoma
Australia,NSW,Sydney
Australia,Victoria,Melbourne
Brazil,NULL,Sao Paulo
Canada,Québec,Montréal
Canada,Québec,Ste-Hyacinthe
Denmark,NULL,Lyngby
Finland,NULL,Lappeenranta
France,NULL,Annecy
France,NULL,Montceau
France,NULL,Paris
Germany,NULL,Berlin
Germany,NULL,Cuxhaven
Germany,NULL,Frankfurt
Italy,NULL,Ravenna
Italy,NULL,Salerno
Japan,NULL,Osaka
Japan,NULL,Tokyo
Netherlands,NULL,Zaandam
Norway,NULL,Sandvika
Singapore,NULL,Singapore
Spain,Asturias,Oviedo
Sweden,NULL,Göteborg
Sweden,NULL,Stockholm
UK,NULL,London
UK,NULL,Manchester
USA,LA,New Orleans
USA,MA,Boston
USA,MI,Ann Arbor
USA,OR,Bend

Employeecountry,Employeeregion,Employeecity
UK,NULL,London
UK,NULL,London
UK,NULL,London
UK,NULL,London
USA,WA,Kirkland
USA,WA,Redmond
USA,WA,Seattle
USA,WA,Seattle
USA,WA,Tacoma
Australia,NSW,Sydney
Australia,Victoria,Melbourne
Brazil,NULL,Sao Paulo
Canada,Québec,Montréal
Canada,Québec,Ste-Hyacinthe
Denmark,NULL,Lyngby
Finland,NULL,Lappeenranta
France,NULL,Annecy
France,NULL,Montceau
France,NULL,Paris
Germany,NULL,Berlin
Germany,NULL,Cuxhaven
Germany,NULL,Frankfurt
Italy,NULL,Ravenna
Italy,NULL,Salerno
Japan,NULL,Osaka
Japan,NULL,Tokyo
Netherlands,NULL,Zaandam
Norway,NULL,Sandvika
Singapore,NULL,Singapore
Spain,Asturias,Oviedo
Sweden,NULL,Göteborg
Sweden,NULL,Stockholm
UK,NULL,London
UK,NULL,Manchester
USA,LA,New Orleans
USA,MA,Boston
USA,MI,Ann Arbor
USA,OR,Bend